@charset "UTF-8";


table {
	display: inline-block;
 	border-collapse: collapse; 
	margin-top: 100px;
	box-shadow: 10px 10px 10px gray;
}
h1{
	font-family: 'Shadows Into Ligh', cursive;
}
form{
  margin : 10px;
  width : 95%; 
  padding : 10px;
  text-align: center;
}
#name { 
 	width: 250px; 
 	height: 50px; 
} 
#price, #sum {
	width: 250px;
	height: 50px;
}
#qty {
	width: 100px;
}
caption {
	font-size: 3.0em;
	font-weight: bold;
}
td {
	height: 30px;
	text-align: center;
}
.q{
	width : 100px;
}
.t{
	width: 90px;
}
input[type=button], input[type=reset] {
	background : #FAFABE;
	font-size : 10px;
	width : 60px;
	height : 30px;
	border-radius: 10px;
}
#back{
	background : #FAFABE;
	font-size : 10px;
	width : 75px;
	height : 30px;
	border-radius: 10px;
}
input[type=button]:active, input[type=reset]:active {
	text-decoration: underline; 
 	color : blue; 
	background-color: #A4C3FF;
    transition: 0.1s;
}
#back:active{
 	text-decoration: underline; 
 	color : blue; 
	background-color: #A4C3FF;
    transition: 0.1s;
}