@charset "UTF-8";

audio{
	width: 10%;
}
h1{
	text-align: center;
	font-weight: bold;
	font-family: 'Shadows Into Ligh', cursive;
}
fieldset {
	width: 50%;
	margin : 5px auto;
	box-shadow: 10px 10px 10px gray;
	padding : 3%;
	border-radius: 20px; 
}
legend{
	font-weight: bold;
}
fieldset > div {
	padding: 8px 0;
	display: flex;
}
.input-label {
	display: inline-block;
	width: 30%;
}

.input-text {
	display: inline-block;
	width: 40%;
}

.input-button {
	display: inline-block;
	width: 25%;
	margin: 0 2px;
}
.form-button {
	display: inline-block;
	width: 48%;
	margin: 0 2px;
}
.radio-label {
	display: inline-block;
	width: 15%;
} 
@media screen and (max-width : 700px){
	fieldset > div {
		padding: 8px 0;
		display: flex;
		flex-wrap: wrap;
	}
	.input-label {
		letter-spacing: -0.2rem;
	}
	
	.input-text {
		display: inline-block;
		width: 66%;
	}
	
	.input-button {
		display: inline-block;
		width: 97.5%;
		margin: 0 2px;
	}
}
