<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/mystyle.css">
<script src="../js/jquery-3.7.0.min.js"></script>

<script>

let xhr = new XMLHttpRequest();

$(function(){
	
	// 비동기 post
	$('#postbtn').on('click', function(){
		
		// 입력한 값을 가져온다
		let vname = $('#pname').val();
		let vage = $('#page').val();
		
		// 전송 요청
		let data = "name=" + vname + "&age=" + vage;
		xhr.open("post", 'ajaxForm.jsp', true);
		xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
		xhr.send(data);
		
		// 결과 응답
		xhr.onreadystatechange = function(){
			if(this.readyState ==4 && this.status ==200){
				res = this.responseText;
				//<p> 당신의 이름은 <%= userName %> 이고 </p>
				//<p> 당신의 나이는 <%= userAge %> 이군요</p>
				
				$('.postres').html(res);
			}
		}
		
		
	})// postbtn
	
	//-------------------------------------------------------------------
	// 비동기 get
	$('#getbtn').on('click', function(){
		
		
		// 입력한 값을 가져온다
		let vname = $('#name').val();
		let vage = $('#age').val();
		
		// 전송 요청
		xhr.open("get", "ajaxForm.jsp?name=" + vname + "&age=" + vage);
		xhr.send();
		
		// 결과 응답
		xhr.onreadystatechange = function(){
			//alert(this.readyState)
			if(this.readyState ==4 && this.status ==200){
				res = this.responseText;
				
				$('.res').html(res);
			}
		}
	})
	
	
})
</script>

</head>
<body>

<div class="box">
	<h3>동기방식처리 get</h3>
	
	<div id="result1" class="result">
	
	  <form action="ajaxForm.jsp" method="get">
		<label>이름</label>
		<input type="text" name="name"><br>
		
		<label>나이</label>
		<input type="text" name="age"><br>
		
		<br>
		<input type="submit" value="전송">
	  </form>
	  
	</div>
</div>


<div class="box">
	<h3>동기방식처리 post</h3>
	
	<div id="result1" class="result">
	
	  <form action="ajaxForm.jsp" method="post">
		<label>이름</label>
		<input type="text" name="name"><br>
		
		<label>나이</label>
		<input type="text" name="age"><br>
		
		<br>
		<input type="submit" value="전송">
	  </form>
	  
	</div>
</div>


<div class="box">
	<h3>비동기방식처리 get</h3>
	
	<div id="result3" class="result">
	
	  <form action="ajaxForm.jsp" method="get">
		<label>이름</label>
		<input type="text" name="name" id="name"><br>
		
		<label>나이</label>
		<input type="text" name="age" id="age"><br>
		
		<br>
		<input type="button" value="전송" id="getbtn">
	  </form>
	  
	</div>
	
	<div class="res"></div>
	
</div>


<div class="box">
	<h3>비동기방식처리 post</h3>
	
	<div id="result4" class="result">
	
	  <form action="ajaxForm.jsp" method="post">
		<label>이름</label>
		<input type="text" name="name" id="pname"><br>
		
		<label>나이</label>
		<input type="text" name="age" id="page"><br>
		
		<br>
		<input type="button" value="전송" id="postbtn">
	  </form>
	  
	</div>
	
	<div class="postres"></div>
	
</div>
</body>
</html>